*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: linear-gradient(135deg,#fcf9f9,#fceddc);
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}


.container{
    width: 95%;
    max-width: 1100px;

    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 20px #20202060;

    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;
align-items: center;
    padding:30px 20px;
}

.section1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    background: linear-gradient(135deg,#f8d7da,#ffe8cc);
    border-radius: 12px;
    padding: 30px;

}

.section1 h1{
    color: #8b005d;
    margin-bottom: 10px;
}

.section1 h2{
    color: #555;
    font-size: 18px;
    margin-bottom: 25px;
}


.logo img{
    width: 220px;
    max-width: 100%;
    border-radius: 10px;
}

.section2{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top:40px;
}

.row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    align-items: center;
}

.row label{
    font-weight: bold;
    color: #444;
}

input[type="text"],
input[type="email"],
input[type="phone"]{
    
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;

}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="phone"]:focus,
textarea:focus{
    border-color: #8b005d;
}

textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    resize: none;
    outline: none;
}

input[type="submit"]{
    background-color: #8b005d;
    color: white;
    border: none;
    padding: 14px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s;
}

input[type="submit"]:hover{
    background-color: #a5006e;
}

@media(max-width:850px){

    .container{
        grid-template-columns: 1fr;

    }

    .row{
        grid-template-columns: 1fr;
    }
}

@media(max-width:450px){

    .container{
        grid-template-columns: 1fr;
        padding:20px;
    }

    .row{
        grid-template-columns: 1fr;
    }
    .section1,.section2{
    padding:10px;
}
}
